.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 3%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 14%
    right: 76%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 54%
    right: 1%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 74%
    right: 62%
@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
// TAMAÑO IMAGENES //
.img30
   max-width: 30px !important
.img40
  max-width: 40px !important
.img50
  max-width: 50px !important
.img60
  max-width: 60px !important
.img70
   max-width: 70px !important
.img80
   max-width: 80px !important
.img90
  max-width: 90px !important
.img100
  max-width: 100px !important
.img120
  max-width: 120px !important
.img140
  max-width: 140px !important
.img160
  max-width: 160px !important
.img180
  max-width: 180px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img420
  max-width: 420px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img700
  max-width: 700px !important
.img800
  max-width: 800px !important
.img900
  max-width: 900px !important

//COLOR FONDO//
.colr
  span
    color: white !important
  &_1
    color: #7F4FC7
  &_2
    color: white
  &_3
    h4, p
      color: white
//FONDOS//
.bgr
  background-color: #FFFAD8
  &::before
    background-color: #EFD198
  &_1
    background-color: #A4A3FF
  &_2
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 25%, rgba(175,175,175,1) 100%);
    border-radius: 10px
    margin-top: -72px
    @media screen and ( max-width: 420px)
      margin-top: 0
  &_3
    background-color: white
  &_4
    background-color: #8C5BE1
    border-radius: 10px
  &_5
    background-color: #43A99B
    border-radius: 10px
  &_6
    background-color: #AFAFAF
    border-radius: 10px
  &_7
    background-color: #FFFAD8
    &::before
      background-color: #EFD198
  &_8
    background-color: #FFF
    border: groove
  &_9
    background-color: #D4E3F2
  &_10
    background-color: #ECE5F7
    &::before
      background-color: #7F4FC7
  &_11
    background-color: #B1DBD5
    width: fit-content
  &_12
    background: linear-gradient(180deg, rgba(10,81,139,1) 0%, rgba(24,148,246,1) 100%)
  &_13
    background-color: #F6F6F6
  &_14
    border-left-color: #A4A3F8
  &_15
    background-color: #DEEFFB
  &_16
    background: linear-gradient(0deg, rgba(10,81,139,1) 0%, rgba(24,148,246,1) 100%)
.bg_grad-01
  position: relative
  .row, p, .cajon, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -1rem
    left: 0
    width: calc( 77% + 6rem)
    height: 320px
    background-color: #F5F5F5
    @media screen and (max-width: 420px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
    @media screen and (max-width: 992px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
.bg_grad-02
  position: relative
  .row, p, .tabs-b
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 8rem
    left: 0
    width: calc( 100% + 6rem)
    height: 67%
    background-image: url("../assets/curso/tema1/fondo1.svg")
    background-repeat: no-repeat
    @media screen and (max-width: 420px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
    @media screen and (max-width: 992px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
.bg_grad-03
  position: relative
  .row, p, .tabs-b
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 9rem
    left: 0
    width: calc( 100% + 6rem)
    height: 85%
    background-image: url("../assets/curso/tema1/fondo1.svg")
    background-repeat: no-repeat
    @media screen and (max-width: 420px)
      height: 94%
      width: calc( 100% + 6rem)
    @media screen and (max-width: 992px)
      height: 94%
      width: calc( 100% + 6rem)
.bg_grad-04
  position: relative
  .row, p, .tabs-b
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 8rem
    left: 0
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo1.svg")
    background-repeat: no-repeat
    @media screen and (max-width: 420px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
    @media screen and (max-width: 992px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
.bg_grad-05
  position: relative
  .row, p, .slyder-a
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema2/fondo2.png")
    background-repeat: no-repeat
    background-size: cover
    @media screen and (max-width: 420px)
      background-image: none
      background-color: #F6F6F6
      border-radius: 10px
.bg_grad-06
  position: relative
  .row, p, .cajon, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 3rem;
    left: 0;
    width: calc( 82% + 6rem);
    height: 307px;
    background-color: #FAFAFA
    @media screen and (max-width: 420px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
    @media screen and (max-width: 992px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
.bg_grad-07
  position: relative
  .row, p, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 4rem
    left: 0
    width: calc( 100% + 6rem)
    height: 90%
    background-image: url("../assets/curso/tema2/fondo3.svg")
    background-repeat: no-repeat
    @media screen and (max-width: 420px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
    @media screen and (max-width: 992px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
.bg_grad-08
  position: relative
  .row, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 9rem
    left: 0
    width: calc( 100% + 6rem)
    height: 86%
    background-image: url("../assets/curso/tema2/fondo4.svg")
    background-repeat: no-repeat
    @media screen and (max-width: 420px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
    @media screen and (max-width: 992px)
      height: calc( 100% + 3rem)
      width: calc( 100% + 6rem)
//POSICION EN PANTALLA// 
.pst
  left: 50%
  @media screen and (max-width: 420px)
    left: 0
  @media screen and (max-width: 992px)
    left: 0
  &_1
    left: -27%
    width: 72%
    @media screen and (max-width: 420px)
      left: 0
      width: 100%
    @media screen and (max-width: 992px)
      left: 0
      width: 100%
  &_2 
    top: -50px
  &_3 
    padding-left: 5% !important
  &_4
    position: absolute
    top: -22%
    left: 0%
    @media screen and (max-width: 992px)
      top: -20%
    @media screen and (max-width: 420px)
      top: 30%
  &_5
    position: absolute
    top: -20%
    left: 30%
    @media screen and (max-width: 992px)
      top: -17%
    @media screen and (max-width: 420px)
      top: 39%
      left: 0
  &_6
    position: absolute
    top: -17%
    left: 0%
    @media screen and (max-width: 992px)
      top: -12%
    @media screen and (max-width: 420px)
      top: 21%
  &_7 
    top: -111px
    @media screen and (max-width: 420px)
      top: -208px
  &_8 
    padding-left: 2% !important
  

      
//CLASES SOBREESCRITAS//
.etiqueta
  background-color: #ECE5F7
  color: #12263F
.tabs-b.color-acento-contenido .tabs-b__tab--active
  border-top-color: #12263F !important
.horizontal-scroll
  align-items: stretch !important
.modif
  .slyder-a__btn--atrs
    background-color: #7F4FC7
    background-image: url("../assets/componentes/arrow2.svg") 
  .slyder-a__btn--sigt
    background-color: #7F4FC7
    background-image: url("../assets/componentes/arrow2.svg")
  .slyder-a__bullets__item--active
    background-color: #EEAC3A !important
    border-color: #EEAC3A
  .slyder-a__bullets__item
    background-color: #AFAFAF
  &_1
    &::after
      width: 9px
      height: 20px
      top: 12px
      left: -12px
      background-color: #A4A3F8
      content: ''
      display: block
      position: absolute
      transform: translate(-50%, -50%)


